<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>
      Anki, Cambridge a Seznam slovník v jednom okně, na jedno kliknutí
    </title>
  </head>
  <body>
    <div class="flex-wrapper">
      <div class="left">
        <iframe
          src="https://dictionary.cambridge.org/dictionary/english/hello"
          width="100%"
          height="100%"
          frameborder="0"
          id="cambridge"
          title="Cambridge dictionary"
          scrolling="no"
          style="background-color: lightgray"
        >
          <p>Váš prohlížeč nepodporuje iframes.</p>
        </iframe>
      </div>
      <!-- TEST -->
      <iframe
        src="https://natanael-adamec.cz/"
        width="100%"
        height="100%"
        frameborder="0"
        id="cambridge"
        title="Cambridge dictionary"
        scrolling="no"
        style="background-color: lightgray"
      >
        <p>Váš prohlížeč nepodporuje iframes.</p>
      </iframe>

      <iframe
        loading="lazy"
        src="https://todoist.com/app/project/2220579584/"
        style="border: 0"
        width="300px"
        height="300px"
      ></iframe>
      <!-- KONEC TEST -->
      <div class="center">
        <form action="" class="form bar" onsubmit="Vyhledej();return false">
          <input type="text" id="slovo" class="searchbar" />
          <button type="submit" class="search_button">
            <img
              class="voice"
              src="img/search_icon.svg"
              title="Search by Voice"
            />
          </button>
        </form>
        <div class="seznamSlovnik"></div>
      </div>
      <div class="right">
        <form id="ankiForm" onsubmit="SaveToAnki();return false">
          <div class="row">
            <label for="deck_anki">Balíček: </label>
            <input type="text" id="deck_anki" />
          </div>
          <div class="row">
            <label for="cardType_anki">Typ karty:</label>
            <select id="cardType_anki">
              <option value="Basic">Basic</option>
              <option value="Basic (and reversed card)">
                Basic (and reversed card)
              </option>
              <option value="Basic (and reversed card)">
                Základní (plus obrácena karta)
              </option>
            </select>
          </div>
          <div class="row">
            <label for="front_anki">Front: </label>
            <input type="text" id="front_anki" />
          </div>

          <div class="row">
            <label for="back_anki">Back: </label>
            <textarea rows="5" cols="30" id="back_anki"></textarea>
          </div>

          <div class="row">
            <label for="tags_anki">Tagy: </label>
            <input type="text" id="tags_anki" />
          </div>
          <button type="submit" class="button-18">uložit do anki</button>
          <!-- ALLOW IN ANKI -->
          <!-- <button onclick="requestPermissionAnki()" class="button-18">
            povolit anki
          </button> -->
        </form>
      </div>
    </div>
    <script defer src="js/script.js"></script>
  </body>
</html>
